/* ct 4 flex-container */
.products-list,
.products-list li {
  display: flex;
}

.products-list {
  gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  align-items: stretch;
  justify-content: center;
}

/* ct 5 flex-items */
.product {
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* ct 6 */
.product img {
  max-height: 150px;
  max-width: 100%;
}

/* ct 7 */
@media (min-width: 768px) {
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
